

// .slider{

    .slider-nav{
        // ***ul flex-container***
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        // ***li flex-container***
            li{
                display: flex;
                flex: 2;

                a{
                    flex-basis: 100%;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    width: 100%;
                    color: #fff;
                    text-decoration: none;
                    font-size: 15px;
                    background: $InvisBlack;
                    &:hover{
                        background: rgba(0, 0, 0, .9)
                    }
                }
            }
            .arrow{
                flex: 1;

            }
            span{
                display: block;
                width: 100%;
            }
        }
    }
// }