// @import "./imports/_normalize.scss";
$InvisBlack: rgba(0, 0, 0, 0.2);


@import "./_slider.scss";



*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, rgba(84,221,255,1) 0%, rgba(56,92,201,1) 100%);
}

.header{
    text-align: center;
    color: #fff;
    background: $InvisBlack;
    h1{
        font-size: 2em;
        font-weight: lighter;
        padding: 10px;
        letter-spacing: 14px;
    }
}
.img-box{
    padding: 20px;
    background: $InvisBlack;
    margin: 0 0 20px 0;
}
.content{
    padding: 20px;
    color: #fff;
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
    background: $InvisBlack;
}
.footer{
    margin-bottom: 10px;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    @media screen and (max-width: 500px){
            display: flex;
            flex-direction: column;

        margin: 0;
        padding: 0;
        >*{
            order: 9999;
        }
    }
}
a{
    color: #FFF;
    letter-spacing: 2px;
    font-weight: 100;
    text-decoration: none;
    padding: 20px 5px;
    background: $InvisBlack;
    text-align: center;
    transition: all .5s;
    display: inline-block;
    width: 100%;
    &:hover{
        background: rgba(0, 0, 0 , 0.3);
    }
}

.flex-nav{
    margin: 20px 0;
    @media screen and (max-width: 500px){
            order: 1;
    }


    .mobile-menu{
        display: none;
        @media screen and (max-width: 500px){
            
            display: block;
        }
    }

    ul{
        border: 1px solid #000;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        @media screen and (max-width: 1000px){
            flex-wrap: wrap;
        }
        @media screen and (max-width: 500px){
            display: none;
        }

    }

    li{
        flex: 3;
        display: flex;
        @media screen and (max-width: 1000px){
            flex: 1 1 50%;

        }   
        @media screen and (max-width: 500px){
            flex-basis: 100%;
        }  
    }
        .social{
        flex: 1;
        @media screen and (max-width: 1000px){
            flex: 1 1 25%;
        }   
    }
    
    .open{
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
        display: flex;
    }

}
