// @import "./imports/_normalize.scss";

*{ box-sizing: border-box }
img {
   width: 100%;
   display: block;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, rgba(84,221,255,1) 0%, rgba(56,92,201,1) 100%);
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}
a{
    color: #FFF;
    letter-spacing: 2px;
    font-weight: 100;
    text-decoration: none;
    padding: 20px 5px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all .5s;
    display: inline-block;
    width: 100%;
    &:hover{
        background: rgba(0, 0, 0 , 0.3);
    }
}

.flex-nav{
    ul{
        border: 1px solid #000;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        @media all and (max-width: 1000px){
            flex-wrap: flex;
        }

    }
    li{
        flex: 3;
        @media all and (max-width: 1000px){
            flex: 1 1 50%;
            color: blue;
        }   
    }
        .social{
        flex: 1;
    }
    





}

@media all and (max-width: 1000px){
    ul{
        color: blue;
    }
}

@media all and (max-width: 500px){
    
}